name: Nix Flake actions

on:
  pull_request:
  push:
    branches:
      - master
      - main

jobs:
  nix-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: DeterminateSystems/nix-installer-action@2fd3724578c33f9f62507d651600d52b8de3c0b9
      - uses: DeterminateSystems/magic-nix-cache-action@9934a5f127967bcd92e99961e365730ba57253de
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - id: set-matrix
        name: Generate Nix Matrix
        run: |
          set -euo pipefail
          matrix="$(nix eval --json '.#githubActions.matrix')"
          echo "matrix=$matrix" >> "$GITHUB_OUTPUT"
          echo "$matrix" | jq

  nix-build:
    needs: nix-matrix
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false # let it build all the targets
      matrix: ${{fromJSON(needs.nix-matrix.outputs.matrix)}}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: DeterminateSystems/nix-installer-action@2fd3724578c33f9f62507d651600d52b8de3c0b9
      - uses: DeterminateSystems/magic-nix-cache-action@9934a5f127967bcd92e99961e365730ba57253de
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: snowflake
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - uses: nixbuild/nixbuild-action@449fa4b22e69f407614a9f448584f7ae8801334c # v24
        with:
          nixbuild_token: ${{ secrets.NIXBUILD_AUTH_TOKEN }}
          generate_summary_for: 'workflow'
      - run: |
          nix build \
            --print-build-logs \
            --builders "" \
            --max-jobs 2 \
            --eval-store auto \
            --store ssh-ng://eu.nixbuild.net \
            ".#githubActions.checks.${{ matrix.attr }}"
